.layout {
    border: solid 1px green;
    /* justify-content: center;
    align-items: center;
    display: flex;
    border: solid 1px #000;
     background-image: url("IMG/1000x60.png"); 
     height: 60px;
    width: 100%; 
    padding: 1% 1% 1% 1%; */
}

body{
    background-color: burlywood;
    text-align: center; 
    padding-top: 51px;    
    padding: 0;
    margin: 0%;
    margin-top: 60px;

}
.header{
    font-family: 'Pacifico', cursive;
}

/* Barra do menu */

.menu{
    border: solid 1px black;
    height: 51px;
    position: fixed;
    width: 100%;
    right: 1px;
    top: 0;   
}
.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rebeccapurple;

}
   
.menu ul li{
    float: left;

}
.menu ul li{
    display: block;
    color: #fff;
    text-align: center;
    padding: auto;
    text-decoration: none;
    
}
.botaomenu {
    
    padding: 17px 17px;
    font-size: 15px;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rebeccapurple;
    

}
.botaomenu:hover{
    background-color: chocolate;
    transition: 0.3s;

}
.botaomenu:active{
    background-color: rgb(126, 68, 25);
}
.linkbotao{
    text-decoration: none;
    display: block;
    color: #fff;
    text-align: center;
    padding: auto;
    text-decoration: none; 
    height: 100%;
}
.bnt{
    padding: 17px 17px;
    font-size: 15px;
    height: 100%;
    background-color: black;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}
.bnt:hover{
    background-color: chocolate;
    transition: 0.3s;
}
.bnt:active{
    background-color: rgb(126, 68, 25);
}
/* Div modal */
.modal{
    position: fixed;
    width: 100vw;
    height: 100vw;
    top:0;
    left: 0;
    display: none;
}
.modal-content{

    margin: 0 auto;
    margin-top: 15%;
    max-width: 400px;
    background-color: #eee;
    padding: 10px;
    box-shadow: 0 0 2px #fff;
}

.modal-head{
   width: 100%;
   height: 30px;
   border: solid black 1px;
   
}
.modal-body{
   width: 100%;
   height: 200px;
   border: solid black 1px;
}
.modal-footer{
   width: 100%;
   height: 80px;
   border: solid black 1px;
   padding-top: 10px;
   
}

.botaofechar{
   padding: 3px ;
   font-size: 15px;
   background-color: rgb(107, 15, 15);
   color: #fff;
   border: none;
   outline: none;
   cursor: pointer;
   float: right;

  
}
.botaoacesso{
   padding: 3px ;
   font-size: 15px;
   background-color: rgb(19, 109, 24);
   color: #fff;
   border: none;
   outline: none;
   cursor: pointer;
   float: right;
   

}



/* Logo/Marca */
.logo{
    height: 220px;
    border: solid 1px red ;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 10px 10px;
    float: center;
    text-align: center;
}
.div-logo{ 

     display: flex;
     align-items: center ;
     order: solid 1px black;
     
    

}
.div-logo img{
    text-align: center;
    float: center;
}
.div-logo img:hover{
    opacity: 0.7;
}


/* Div topo */
.test{
    width: cv;
    height: 100%;
    margin: 10px;
    border: solid 1px black;
}
.test img{
    width: 100%;
    border: solid 1px rgb(255, 0, 200);
    padding: auto;   

}


/* Banner rotativo  Adoção */
.banner-Adoção{
    height: 100%;
    border: solid 1px rgb(0, 255, 85);
    margin: 10px;
}


.banner-Adoção img{
    width: 100%;
    border: solid 1px rgb(255, 0, 200);
    padding: auto;   

}


/* banner-Parceiros */

.banner-Parceiros{
    height: 100%;
    border: solid 1px rgb(64, 6, 201);
    margin: 10px;
}
.banner-Parceiros img{
    width: 100%;
    border: solid 1px rgb(255, 0, 212);
    padding: auto;   
}
/* Conjuto de Div Noticias e Caixa flutuante  */
.seccao{
    width: cv;
    height: 300px;
    margin: 10px;
    display: flex;
    border: solid  1px black ;
}
.setornoticias{
    width: cv;
    height: 300px;
    border: solid 1px blue;
    margin-right: 10px;
}
.setornoticias img{
    height: 300px;
    width: 800px;
}

.poups{
    width: cv;
    height: 300px;
    border: solid 1px rgb(0, 255, 42);
    margin-left: 10px;
}
.poups img{
    height: 300px;
    width: 800px;
}

/* Rodapé da página web */

footer{
   
    background-position: center;
    border: solid 1px #000;
    background-size: cover;
    padding: 10px;
    margin: 10px;
    

}
/* Redes socias  */

.Rlayout{
    display: flex;
    border: solid black 1px;
 
}
.Redessocias{
    border: solid black 1px;
    width: 10%;
    height: 400px;
    text-align: left;
    margin: 0;
    float: left;
    left: 0;
    background-color: #fff;
   
    
}
.Redessocias  ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding-top: 50%;
}
/* Icones das redes socias  */
.fa{
    padding: 15px;
    font-size: 50px;
    width: 30%;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    margin: 5px 2px;    
} 
.fa:hover{
    opacity: 0.7;
}
.fa-instagram{
    background: #125688;
    color: white;
    border-radius: 100%;
}
.fa-pinterest{
    background: #cb2027;
    color: white;
    border-radius: 100%;
}
.fa-linkedin{
    background: #007bb5;
    color: white;
    border-radius: 100%;
}
.fa-reddit{
    background: #ff5700;
    color: white;
    border-radius: 100%;
}
 /* Grupo geral das divs "Grupo01" */
.Setordoscontatos{
    
    border: solid black 1px;
    height: 400px;
    width: 100%;
    background-size: cover;
    background-color: #5F4B8B;  
    
    
    /* position: absolute; */
}
.Setordoscontatos h2{
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
   
}

.Setordoscontatos p{
    color: #fff;
    font-family: 'Lato', sans-serif;
   
}


/* Div dos Parceiros */
.Parceiros{
    float: left;
    padding: 5px; 
    margin: 5px;
    text-align: center;
    width: 400px;
    
    

} 
.Parceiros img{
     
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: solid 4px rgba(255, 255, 255, 0.753);
   

}
.Parceiros img:hover{
    opacity: 0.7;

}

/* Div dos Colaboradores */

.Colaboradores{
    float: left;
    text-align: center;    
    width: 400px;
    padding: 5px; 
    margin: 5px;
    
}
.Colaboradores img{
    
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.Colaboradores  img:hover{
    opacity: 0.7;
}
/* Div da Equipe (#-_-) */
.Equipe{
    float: left;
    text-align: center;
    width: 400px;
    padding: 5px; 
    margin: 5px;
}
.Equipe img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.Equipe img:hover{
    opacity: 0.7;
}